<%- include('template/cabecera',{tituloWeb:'pagina de servicios'}); %>
<body>
    <h2><%=titulo_servicio%></h2>
    <%- include('template/footer',{
        footerWeb: 'Footer pagina index'
    })%>